
.Book-details{
background-color: rgb(191,191,191);
width:70%;
}
.Book-image{
    width:50%;
    height:200px;
}

.Book-div {
    display: flex;
    flex-direction: row;
    height:60px;
    margin: 10px;
}